<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="alert alert-primary" role="alert">
  This app is used to practice using Google Maps with ExpressJS.
  Go ahead and click <a href="/restaurants">here</a> to see the current list of restaurants or <a href="/restaurants/new">create a new restaurant</a>.
</div>

 
    