<h3>List of all restaurants</h3>

<div class="row">
  {{#each restaurants}}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/restaurants/{{this._id}}">
              {{ this.name}}
            </a>
          </h5>
          <a href="/restaurants/{{this._id}}/delete" class="btn btn-primary">
            Delete
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="alert alert-warning" role="alert">
        There's no restaurants in the DB, go ahead and <a href="/restaurants/new">create a new restaurant</a>.
    </div>
  {{/each }}
</div>
<div>
  <label for="address">Enter a valid address or just the city and country:</label>
  <input id="address" type="text" size="50">
  <input id="submit" type="submit" value="submit">
</div>

{{!-- add map here --}}
<div id="map"></div>

{{!-- Add Axios CDN  --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{{!-- add the GoogleAPI script here --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU"></script>
{{!-- add the restaurant.script.js here --}}
<script type="text/javascript" src="/javascripts/restaurant-script.js"></script>
